
.alert {
  position: fixed;
  display: block;
  top: 20px;
  left: 50%;
  transform: translateX(-200px);
  width: 400px;
  padding: 15px;
  font-weight: $btn-font-weight;
  line-height: 1em;
  color: $body-color;
  background-image: none;
  border: $btn-border-width solid $gray-300;
  border-radius: 10px;
  justify-content: space-between;
  color: $gray-800;

  .alert-content {
    padding-right: 20px;
    margin-bottom:20px;
    .alert-message{
      font-size: $font-size-lg;
      margin-bottom: 10px;
    }
    .alert-description{
      font-size: $font-size-sm;
    }
  }
  .close-button {
    padding: 0px;
    border: $btn-border-width solid transparent;
    box-shadow: none;
    position: absolute;
    right: 5px;
    top: 5px;
    background: transparent;
    font-size: $font-size-sm;
  }
}

.alert-info {
  @include alert-style($cyan);
}
.alert-success {
  @include alert-style($green);
}
.alert-warning {
  @include alert-style($yellow);
}
.alert-error {
  @include alert-style($red);
}
